<html>
  <head>
    <title>Северната звезда - The Northern Star</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>
    <div id="posts_list">
      @in[p posts]{
      <div class="post">
        <div class="post_header">
          <h2 class="post_title">@|(post-title p)|</h2>[@in[t (post-tags p)]{<span class="post_tag">@|t|</span>}]
          <div class="post_date">@|(post-date->string (post-date p))|</div>
        </div>
        <div class="post_body">
          <p>@|(post-body p)|</p>
        </div>
      </div>
      }
    </div>
  </body>
</html>
